/* default layout */
.ajax__tab_default .ajax__tab_header {white-space:normal !important}
.ajax__tab_default .ajax__tab_outer {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_inner {display:-moz-inline-box;display:inline-block}
.ajax__tab_default .ajax__tab_tab {overflow:hidden;text-align:center;display:-moz-inline-box;display:inline-block}

/* xp theme */
.ajax__tab_xp .ajax__tab_header {font-family:verdana,tahoma,helvetica;font-size:11px;background:url(WebResource.axd?d=9UJl7dNZTFBG4VLWW8bLcTBoXtiSX0iPxh41tHn1iJq_Lo87AzSlkCGa5-3Az0jIyjxIBxWS08N6Ap6Q05UBZfyXnSDdoc9GuKjPUHltSq0V77TSo09btGo36iwOmt670&t=634485894900000000) repeat-x bottom;}
.ajax__tab_xp .ajax__tab_outer {padding-right:4px;background:url(WebResource.axd?d=lhrxcly-6vFD7OYplhl8u-dvRoOkoxj2Sp3Q4LApIm35ZhzF58352FHX8l1xXbiuP2GVEC-5iEI3ELjTiRIv3jzm0MonCmxAMRUKlfm_0uwWJnyqDSPHWMyWzblqyuDT0&t=634485894900000000) no-repeat right;height:21px;}
.ajax__tab_xp .ajax__tab_inner {padding-left:3px;background:url(WebResource.axd?d=5ww0aBuT94FG56gNKpSDaHKLZwJwiEXbh17TSC_GB5iDBhOAMkIhLfMDfc5bnD_VlbuMy6ZexX7DU_QGLS1nATcOZgM8Jgx2Zt5LvjmmxG1av7b0sOVq0tSLCCqMpGO90&t=634485894900000000) no-repeat;}
.ajax__tab_xp .ajax__tab_tab {height:13px;padding:4px;margin:0px;background:url(WebResource.axd?d=_AEaY27asGovbrWhvgb2XsNjmXW6luym9o3Haegv5-zWH2lwDPeLIvx2pdPaiXYG9iyRyBDQGSK4Nipl0fiDoWsZZPGQVqVgJgbbqi1VnHfpj66bkg4wQPug1Z0eveBT0&t=634485894900000000) repeat-x;}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_outer {cursor:pointer;background:url(WebResource.axd?d=CP_mY8I18kQhe7o6rHABEY4tz3y-uI1aGk_UDRguXS1c-tqkOM527oeaKsAs7PbleXgXSNBqxKl0XIUjZbwUlTOxLGrkzkxcRT7AF_ihmoH0kXtBVETL2PjzpNlXfAWVeddYfd9xKTE2b5FNgKhUTw2&t=634485894900000000) no-repeat right;}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_inner {cursor:pointer;background:url(WebResource.axd?d=N8WmfiSqCQ8VLia3oOO2Yidcz9W8jVNX6Viw3VzXhfZI8v4wsSh6P1Y9NJS-WTjMRsOmjW2dRAKPvLmF9y1ioDnbMdurOnRvk3rue2XWO7Q-e9lQLVOwsuiGevum4pcqitoTjOPqGut7srr5AIUsVw2&t=634485894900000000) no-repeat;}
.ajax__tab_xp .ajax__tab_hover .ajax__tab_tab {cursor:pointer;background:url(WebResource.axd?d=RGzkyRDgTph42lCvNqrXHlOe3c7cygZkvamFcRaH4CbSe96vYDQAEw3JMFCp_EjS1g2CmiFzRzuZr0w4zQGDMq_ZrZemHSloY3cDgF7vBF3wXoTVxDM30rbyO3jKjP4A0&t=634485894900000000) repeat-x;}
.ajax__tab_xp .ajax__tab_active .ajax__tab_outer {background:url(WebResource.axd?d=nESWQdau0K-f8nItsWX2Jy-HAgltYUDH6zybHyA71GKs0eEhUwbpjW7aOhrq8tk9qagW5xWSJscgUVFyiw-7-645JK3khE22LfxFyES2bcGMAVse0TBk0RKDO5pdxAPPl-J7Zs24kJSGbiN7E8luyA2&t=634485894900000000) no-repeat right;}
.ajax__tab_xp .ajax__tab_active .ajax__tab_inner {background:url(WebResource.axd?d=jikcrQYXVGNnf_VWEBBZ0fKLPdsSje3sFVoOZkdGTeWGu3YpahO_gE-lRsNJ8hcVa-Wicvzhj4oK2qOuiOFN4DUzB2JARk-Uc5f_VeGVobztqi_5-TWVvoIZcmWYHJroSGRrFwiIHQWc8IMnw8s2oQ2&t=634485894900000000) no-repeat;}
.ajax__tab_xp .ajax__tab_active .ajax__tab_tab {background:url(WebResource.axd?d=s5Xi0ZBlAcN2c5pBsiELhE5-pVdKHF7rUschRNvXAkY0ttcwzSeL_Elnczh1tL8fZ78vu4jIxql7h5SbEPyByHX7ibq9hk8Ne1tpktgWCyn4aLMHVH1swahg-YxFDtcz0&t=634485894900000000) repeat-x;}
.ajax__tab_xp .ajax__tab_disabled { color: #A0A0A0;}
.ajax__tab_xp .ajax__tab_body {font-family:verdana,tahoma,helvetica;font-size:10pt;border:1px solid #999999;border-top:0;padding:8px;background-color:#ffffff;}

/* scrolling */
.ajax__scroll_horiz {overflow-x:scroll;}
.ajax__scroll_vert {overflow-y:scroll;}
.ajax__scroll_both {overflow:scroll}
.ajax__scroll_auto {overflow:auto}

/* plain theme */
.ajax__tab_plain .ajax__tab_outer {text-align: center; vertical-align: middle; border:2px solid #999999;}
.ajax__tab_plain .ajax__tab_inner {text-align: center; vertical-align: middle; }
.ajax__tab_plain .ajax__tab_body {text-align: center; vertical-align: middle;}
.ajax__tab_plain .ajax__tab_header {text-align: center; vertical-align: middle;}
.ajax__tab_plain .ajax__tab_active .ajax__tab_outer {background:#FFFFE1;}
