body {
}
.btnContinue
{
  line-height :normal;    
  width:70px;
  height:30px;  
  border: solid 1px grey; 
   
}
.btnFDDContinue
{
  line-height :normal;    
  width:70px;
  height:30px;  
  border: solid 1px grey; 
   
}
.btnEdit
{
  line-height :normal;   
  height:20px;
  width:40px;
  border: solid 1px grey; 
  
}

.btnEditReview
{
  line-height :normal;   
  height:30px;
  width:86px;
  border: solid 1px grey;  
}

.imgbtnPrinter
{
    height: 25px;
    width: 25px;
}

.btnAddEmployer
{
     line-height :normal; 
     border: solid 1px grey;
     height:30px;
     width:95px;
     cursor: pointer;
}

.btnConfirm
{
  line-height :normal;    
  width:60px;
  height:30px;  
  border: solid 1px grey; 
  cursor: pointer;
}
.btnLogOut
{
  line-height :normal;    
  width:55px;
  height:30px;  
  border: solid 1px grey; 
}

.btnPrint
{
  line-height :normal;    
  width:45px;
  height:30px;  
  border: solid 1px grey;
}
.btnEmpSubmit
{
  line-height :normal;   
  height:23px;
  width:50px;
  border: solid 1px grey; 
  
}
.btnLogIn
{
  line-height :normal;   
  width:55px;
  height:30px; 
  border: solid 1px grey; 
  cursor: pointer;
  
}

.btnClaimSearchLanding
{
   cursor: pointer;     
}

.lblClass1
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    vertical-align: top;
}
